<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Authorization check</title>
</head>
<body>
<div class="auth-button">
    <form method="post" th:action="@{exec_auth}" th:object="${helloForm}">
        <div>
            Request type: <span th:text="*{requestType}"></span>
        </div>
        <div>
            Scope: <span th:text="*{scope}"></span>
        </div>
        <div>
            Client Id: <span th:text="*{clientId}"></span>
        </div>
        <div>
            Redirect url: <span th:text="*{redirectUri}"></span>
        </div>
        <div>
            State: <span th:text="*{state}"></span>
        </div>
        </br>
        Are you sure you want give this authorization to this client?
        </br>
        <input type="submit" value="Auth" />
    </form>
</div>

</body>
</html>
