<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Authorize client</title>
</head>
<body>
<header>Auth server</header>
<article>Confirm authorization</article>
<div class="login-form">
    <div><p>Are you sure you want to authorize this client?</p></div>
    <form method="post" th:action="@{/auth}" th:object="${loginRequest}">
        Id: <input type="text" name="id" th:field="*{id}"/>
        Password: <input type="password" name="password" th:field="*{password}" />
        <input type="submit" value="Login" />
    </form>
</div>

</body>
</html>
